/* Especificidad 001 */
body {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto 5% auto auto;
    grid-template-areas: 
        'header header header header'
        'navigation navigation navigation section_column'
        'main main main section_column'
        'footer footer footer footer';
}

/* Especificidad 001 */
header {
    grid-area: header;
}

/* Especificidad 001 */
main {
    grid-area: main;
}

/* Especificidad 001 */
nav {
    grid-area: navigation;
}

/* Especificidad 002 */
body > section {
    grid-area: section_column;
    align-self: flex-start;
}

/* Especificidad 001 */
footer {
    grid-area: footer;
}