table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0em 2em;
    text-align: center;
    width: 80%;
}

th {
    background-color: #ef4c00;
    color: #ffffff;
    border-bottom: 0.2em solid #342e37;
    font-size: 1.2em;
    height: 2.2em;
    padding-bottom: 0.8em;
    vertical-align: bottom;
}

th:first-child {
    border-top-left-radius: 1.5em;
}

th:last-child {
    border-top-right-radius: 1.5em;
}

tr {
    background-color: #342e37;
    color: #ffffff;
}

tr > td:first-child {
    font-size: 1.2em;
}

tr > td:nth-child(2) > p {
    line-height: 0.3em;
}

tr > td:last-child > p:first-child {
    font-size: 1.2em;
}

tr > td:last-child > p:nth-child(2) {
    font-weight: bold;
}