main > section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.3em;
    padding-bottom: 1.32m;
    border-radius: 1.5em;
    border-top: 0.1em solid #ef4c00;
    border-left: 0.1em solid #ef4c00;
    border-right: 0.1em solid #ef4c00;
    border-bottom: 0.4em solid #ef4c00;
    width: fit-content;
    background-color: #342e37;
    color: #ffffff;
    display: flex;
    max-width: 70%;
}

main > section > article > h3{
    color: #ef4c00;
    font-size: 1.3em;
}

main > section > article > h3, main > section > article > p {
    margin: 0.3em;
    vertical-align: center;
}

main > section > article:nth-child(2) {
    margin-bottom: 1.3em;
    padding-left: 5%;
    width: 70%;
}
