main > section {
    background-color: #342e37; 
    color: #ffffff;
    border-radius: 1.5em;
    border-top: 0.1em solid #ef4c00;
    border-left: 0.1em solid #ef4c00;
    border-right: 0.1em solid #ef4c00;
    border-bottom: 0.4em solid #ef4c00;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

main > section:nth-of-type(2), main > section:nth-of-type(3){
    padding-bottom: 1.4em;
}

main > section:nth-of-type(2) > p, main > section:nth-of-type(3) > p{
    padding-left: 2.6em;
    padding-right: 2em;
}

main > section > ul > li {
    list-style-type: none;
    padding-bottom: 0.8em;
}

main > section > ul > li > * {
    display: inline;
    vertical-align: middle;
}